
.editor-wrapper {
  position: relative;
  height: 100%;
  /*10 px space for horizontal scroller ..so editor will take all availble space -10 px*/
  width: calc(100% - 10px);
}

.editor-wrapper .button-format {
  /*button should float to right  */
  position: absolute;
  top: 5px;
  right: 5px;
  /*to raise the button*/
  z-index: 20;
  /*buttons opacity should be 0 so it is invisible and tansition of opacity from 0 to 1 will not be 
  instant iut will take 0.3 seconds */
  opacity: 0;
  transition: opacity 0.3s;
}

.editor-wrapper:hover .button-format {
  /*and heree whenever we hover over that editor button's opacity will be changed to 1 and it will 
visibleuU*/
  opacity: 1;
}
